---
import Layout from '@layouts/Layout.astro';
import links from '@content/links.json';
import Link from '@components/Link.astro';

const socialLinks = links.social;
const devLinks = links.dev;
const mediaLinks = links.media;
const supportLinks = links.support;
const communityLinks = links.community;
---

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: 26rem;
    width: 100%;

    padding-inline: 1rem;

    scroll-padding-block: 4rem;
    scroll-margin-block: 4rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;

    width: 100%;

    list-style-type: none;
    padding: 0;
  }

  li {
    width: 100%;
  }

  h1 {
    font-size: 2rem;

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.4ch;

    margin: 0;
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 0.8ch;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;

    width: 100%;

    margin: 0;
    margin-bottom: 1.6rem;
  }

  h3 > .link-group-header-icon {
    font-size: 2.2rem;
    font-weight: 400;
  }

  h3 > .link-group-header-label {
    position: relative;
    margin-inline: auto;
    left: -1rem;
  }

  div.link-group {
    position: relative;

    padding: 1rem;

    outline: 2px solid var(--clr-surface-0);
    border-radius: 4pt;
    overflow: hidden;
  }

  div.link-group::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: -1;

    background-color: var(--clr-base);
  }

  div.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: fit-content;
    height: 100vh;
  }

  hr.hero-hr {
    width: 100%;

    border: none;

    background-color: var(--clr-primary);
    height: 2px;

    margin-block: 1.5rem;
  }

  div.hero > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    margin-top: 0;
    margin-bottom: 4rem;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-base);

    width: 100%;
    max-width: 16rem;

    font-size: 1rem;
    color: var(--clr-text);
    text-decoration: none;
    font-weight: 600;

    padding-block: 0.8rem;
    padding-inline: 1rem;

    border-radius: 999px;
    outline: 2px solid var(--clr-surface-0);

    transition-property: background-color, color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .btn:hover {
    background-color: var(--clr-surface-0);
    outline: 2px solid var(--clr-surface-1);
    color: var(--clr-primary);
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 1.75rem;
    }

    h3 > .link-group-header-icon {
      font-size: 2.6rem;
    }

    div.hero > p {
      font-size: 1.4rem;
    }

    .btn {
      font-size: 1.2rem;
    }
  }
</style>

<Layout title='Voidtrick'>
  <div class='hero'>
    <h1>Voidtrick</h1>
    <hr class='hero-hr' />
    <p>Hello, world.</p>
    <a href='#links' class='btn'>View Links</a>
  </div>
  <section id='links'>
    <div class='link-group'>
      <h3>
        <i class='link-group-header-icon ri-chat-quote-fill'></i><span
          class='link-group-header-label'>Social</span
        >
      </h3>
      <ul>
        {
          socialLinks.map((link) => (
            <li>
              <Link
                url={link.url}
                label={link.label}
                external={link.external}
                icon={link.icon}
              />
            </li>
          ))
        }
      </ul>
    </div>
    <div class='link-group'>
      <h3>
        <i class='link-group-header-icon ri-movie-2-fill'></i><span
          class='link-group-header-label'>Media</span
        >
      </h3>
      <ul>
        {
          mediaLinks.map((link) => (
            <li>
              <Link
                url={link.url}
                label={link.label}
                external={link.external}
                icon={link.icon}
              />
            </li>
          ))
        }
      </ul>
    </div>
    <div class='link-group'>
      <h3>
        <i class='link-group-header-icon ri-code-box-fill'></i><span
          class='link-group-header-label'>Development</span
        >
      </h3>
      <ul>
        {
          devLinks.map((link) => (
            <li>
              <Link
                url={link.url}
                label={link.label}
                external={link.external}
                icon={link.icon}
              />
            </li>
          ))
        }
      </ul>
    </div>
    <div class='link-group'>
      <h3>
        <i class='link-group-header-icon ri-discuss-fill'></i><span
          class='link-group-header-label'>Community</span
        >
      </h3>
      <ul>
        {
          communityLinks.map((link) => (
            <li>
              <Link
                url={link.url}
                label={link.label}
                external={link.external}
                icon={link.icon}
              />
            </li>
          ))
        }
      </ul>
    </div>
    <div class='link-group'>
      <h3>
        <i class='link-group-header-icon ri-hand-heart-fill'></i><span
          class='link-group-header-label'>Support</span
        >
      </h3>
      <ul>
        {
          supportLinks.map((link) => (
            <li>
              <Link
                url={link.url}
                label={link.label}
                external={link.external}
                icon={link.icon}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
